body{background-image: url("../images/background.jpg");}

h1{text-align: center;
    color:darkred;
    font-size:3cm;
    font-weight: bolder;
    font-style:oblique;}

.about{width: 50%;
       float:left;
       background-color:lightblue;}

.name{color: darkred;
     font-weight: bolder;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-style:oblique;}

.about p {color:brown;
          font-weight:400;}

.about ul{line-height: 0.7cm;
          color:lightslategrey;
          font-style: italic;}



